/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS file within this directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the top of the
* compiled file, but it's generally better to create a new file per style scope.
*
*= require main
*= require mobile
*= require_self
*/

section {
	margin: 20px 0 0 20px;
}

.not {
	display:none;	
}

nav {
	margin:15px 0 10px 0;
}

nav a {
	background: #53777a;
	color: #fff;
	width: 80px;
	text-decoration: none;
	border: 1px solid #5b5b5b;
	font-size: 13px;
	text-align:  center;
	padding:5px 10px;
}


.required {
	color: red;
}

.overdue {
	background: #F7DCE5;
}

.warning {
	background: #F7F7DC;
}

.taskCompleted {
	text-decoration: line-through;
}